@charset "UTF-8";

/* 回答はここに書いてね */
.q9__bubble {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
}

.q9__bubble:before,
.q9__bubble:after {
  position: absolute;
  border: 20px solid transparent;
  content: "";
}

.q9__bubble:before {
  bottom: -45px;
  left: 30px;
  border-top-color: #222;
}

.q9__bubble:after {
  bottom: -38px;
  left: 30px;
  border-top-color: #fff;
}
/* 回答はここに書いてね */
